:root {
  --primary: #ff00a0;
  --primary-hover: #e4008e;
  --text-primary: #ffffff;
  --text-secondary: #e5e7eb;
  --text-muted: #a0a0a0;
  --bg-main: #121214;
  --bg-secondary: #1c1c1f;
  --border-color: #2a2a2d;
  --font-family: "JetBrains Mono", monospace;
  --sidebar-width: 350px;
  --sidebar-width-collapsed: 100px;
  --slider-width: 40px;
  --slider-height: calc(var(--slider-width) * 0.5);
  --surrealist-gradient: linear-gradient(
    135deg,
    var(--primary) 0%,
    #9600ff 100%
  );
  --code-bg: #1e1e1e;
  --user-chat-width: 70%;

  font-family: var(--font-family), system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-main);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Modify all buttons in the app to inherit their parent's styling */
.source-action-btn,
.tool-action-btn {
  all: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--bg-main);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--bg-secondary);
  }
}
